---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lucid Primitives Playground">
    <h1 class="text-2xl font-bold">
        <a href="/" rel="prefetch:moderate">{"<-"} Home</a>
        - Elements Playground
    </h1>
    <div class="w-full mt-2.5">
        <div
            data-store="example"
            data-state--boolean="false"
            data-state--number="1"
            data-state--string="hello world"
            data-state--object='{"hello":"world"}'
            data-state--array='["hello","world"]'
            data-bind--data-boolean="example:boolean"
            data-bind--data-number="example:number"
            data-bind--data-string="example:string"
            data-bind--data-object-hello="example:object.hello"
            data-bind--data-array-hello="example:array[0]"
            data-bind--data-custom-state-attribute="example:customState"
            data-handler--event.scroll="example:handleScroll"
            class="data-[state--boolean=true]:bg-red-500"
        >
            <span
                data-bind--data-boolean="example:boolean"
                data-ref="example:span[]"></span>
            <span
                data-bind--data-number="example:number"
                data-ref="example:span[]"></span>
            <span
                data-bind--data-string="example:string"
                data-ref="example:span[]"></span>
            <span
                data-bind--data-object-hello="example:object.hello"
                data-ref="example:span[]"></span>
            <span
                data-bind--data-array-hello="example:array[0]"
                data-ref="example:span[]"></span>
            <button
                data-handler--event.click="example:handleClick"
                data-handler--dom.text="example:contentCopy"
                data-ref="example:button"
                class="cursor-pointer pointer-events-auto"
            >
                Show Content
            </button>
            Parent Element (scoped)
            <!-- Sub Element -->
            <div
                data-store="nested"
                data-state--name="I am nested!"
                data-ref="example:div"
                data-bind--name="nested:name"
                data-bind--boolean="example:boolean"
            >
                Single Nested (not scoped)
                <div
                    data-store="doubleNested"
                    data-state--name="I am double nested!"
                    data-bind--name="doubleNested:name"
                    data-bind--boolean="example:boolean"
                >
                    Double Nested (not scoped)
                </div>
            </div>
        </div>
    </div>
</Layout>
