---
import Layout from "../layouts/Layout.astro";
import Example from "../components/elements/Example.astro";
import Loops from "../components/elements/Loops.astro";
import Binds from "../components/elements/Binds.astro";
---

<Layout title="Lucid Primitives Playground">
    <h1 class="text-2xl font-bold">
        <a href="/" rel="prefetch:moderate">{"<-"} Home</a>
        - Elements Playground
    </h1>
    <div class="w-full mt-2.5">
        <Example />
        <Binds />
        <Loops />
    </div>
</Layout>
