---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lucid Primitives Playground">
    <h1>Lucid Primitives Playground</h1>
    <ul>
        <li>
            <a href="/" rel="prefetch:moderate">Home</a>
        </li>
        <li>
            <a href="/elements" rel="prerender:moderate">Elements</a>
        </li>
        <li>
            <a href="/about" rel="prerender:moderate">About</a>
        </li>
    </ul>

    <div class="mt-10 flex gap-2.5">
        <button data-page="1">Page 1</button>
        <button data-page="2">Page 2</button>
        <button data-page="3">Page 3</button>
        <button data-page="4">Page 4</button>
        <button data-page="5">Page 5</button>
        <button data-page="6" class="focus:outline-dashed">Page 6</button>
    </div>
    Lorem amet non aliqua proident in eu mollit ipsum ut eu esse. Occaecat sint eu
    eiusmod ad nostrud consectetur ea minim labore et sit elit anim duis. Velit Lorem
    consequat qui anim sunt nostrud tempor reprehenderit laboris laboris enim officia
    non. Minim sit qui esse ex enim aute aute mollit qui labore id. Ipsum do mollit
    mollit Lorem mollit ex. Officia exercitation cupidatat et pariatur id irure dolore
    dolore. Aliquip sint deserunt eu cupidatat id ipsum mollit fugiat commodo duis
    cupidatat. Ad consequat labore id aliqua dolor elit velit et aliqua nisi. Magna
    tempor in exercitation mollit consequat in. Id labore proident quis voluptate
    cillum nulla minim occaecat qui pariatur. In sunt ullamco reprehenderit ex do
    cupidatat mollit nulla. Nulla aliqua reprehenderit qui est nostrud commodo. Non
    amet cupidatat occaecat anim culpa anim labore ipsum exercitation duis laborum
    adipisicing veniam irure. Qui sint duis officia laborum eu incididunt sint id
    elit occaecat in Lorem sint. Ea sint magna laboris id ad exercitation non labore
    Lorem esse veniam. Nostrud ex cupidatat amet duis proident pariatur aliqua excepteur
    voluptate magna nulla cupidatat dolor magna. Labore consequat amet ex tempor
    in exercitation cillum elit labore. Minim nulla do cillum amet sint. Nostrud
    culpa dolore velit eu dolore in sint excepteur Lorem proident laborum proident.
    Dolor in aliquip exercitation consequat cillum do laboris qui adipisicing ex
    commodo aliqua. Id fugiat irure cillum dolor ullamco aliqua adipisicing. Qui
    mollit nulla consectetur nisi sit exercitation voluptate est cillum laborum incididunt
    ad. Dolore velit duis Lorem commodo officia id exercitation aute incididunt sunt
    laborum enim ad proident. Aliquip qui eiusmod tempor ea fugiat commodo. Labore
    dolor veniam labore excepteur ullamco id dolore. Esse mollit duis do tempor occaecat
    ut deserunt cillum. Consectetur culpa consectetur sunt excepteur excepteur. Ad
    proident proident ad sint sint fugiat fugiat officia id. Culpa nisi exercitation
    ea ea proident excepteur cillum in veniam aliqua amet magna dolor. Officia ut
    ad dolor qui aliquip minim ullamco proident excepteur in ut. Est id Lorem non
    amet. Occaecat Lorem velit veniam proident cillum quis dolore quis nulla sint
    nisi ad exercitation ullamco. Commodo proident laboris cillum pariatur. Nulla
    incididunt amet in dolore enim ea. Sint esse est id sint duis proident. Ea excepteur
    do aliquip magna elit consequat sint reprehenderit eu quis aliquip ex enim laboris.
    Commodo mollit fugiat cillum dolore pariatur ullamco. Aute nisi cupidatat non
    sint. Fugiat velit officia id nisi ex sint voluptate voluptate. Culpa adipisicing
    officia voluptate id sunt consequat. Sunt sit elit excepteur veniam veniam non
    eu voluptate voluptate. Ad dolore minim anim aliquip veniam Lorem esse aute.
    Do pariatur aliquip excepteur mollit adipisicing cupidatat dolore. Proident incididunt
    ea non sint ea eu commodo ullamco mollit excepteur. Dolor id consequat aute anim
    fugiat. Aute proident proident anim esse proident laborum mollit aute sunt sint.
    Laboris sit ad et officia in adipisicing commodo labore commodo sit enim. Tempor
    aliqua elit adipisicing officia cupidatat ad. Labore pariatur aute consequat
    ad.
</Layout>
